.epub-author {
    color: #555;
}

.epub-link {
    margin-bottom: 30px;
}

.epub-link a {
    color: #666;
    font-size: 90%;
}

.toc-author {
    font-size: 90%;
    color: #555;
}

.toc-link {
    color: #999;
    font-size: 85%;
    display: block;
}

.tocol {
    list-style: none;
}

.bookcover {
    width: 100%;
    margin: auto;
    text-align: center;
}

.h1 {
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    padding-top: 150px;
    padding-bottom: 30px;
}

.blockdiv {
    height: 20px;
    width: 100%;
}

.table-of-content {
    padding: 5px 0;
}

hr {
    border: 0;
    border-bottom: 1px solid #dedede;
    margin: 60px 10%;
}